<!DOCTYPE html>
<html>
<head>
<title>About Rebecca</title>
</head>
<body>
  <STYLE>BODY {
	FONT-FAMILY: arial,sans-serif
}
</STYLE>

<p style="text-align:center;">
<%= image_tag('bnb.jpg', width: '35%') %></p>
<h1 align="middle">So you want to know about Rebecca...</h1>
<p align="middle" style="font-size:20px">Rebecca is a semi-sentient crumb crushed by her baby into the crevices of his high chair.</p>
</p>
<p align="middle"><%= link_to 'Read her blog here.', root_path %></p>

</body>
</html>