<!DOCTYPE html>
<html>
<head>
<title>Rebecca's Blog</title>
</head>
<body>
  <STYLE>BODY {
	FONT-FAMILY: arial,sans-serif;
}
</STYLE>

<p style="text-align:center;">
<%= image_tag('mtkoz.jpg', width: '45%') %></p>

<h1 align="middle">Welcome to Rebecca's blog!</h1>
<h3 align="middle"><%= link_to 'About Rebecca', about_path %></h3>
<table style="width:65%" align="center">
  <tr>
    <td>
      Rebecca has some things to say.
    </td>
    <td align="right">
      These are those things.
    </td>
  </tr>
</table></p>

</body>
</html>